@import "@/shared_components/css/vars.scss";

:deep(.unitOption .box) {
  margin-bottom: 0;
}

.unitOption {
  display: grid;
  grid-gap: 5px;
}

.groupOption {
  margin-top: 5px;
}

.mobileMode {
  :deep(.normalTitle) {
    padding-top: 0px;
    padding-left: 10px;
  }

  .inputOption {
    padding:10px;

    display: flex;

    input,
    .input {
      order: 5;
      margin-right: 3px;
      margin-left: auto;
    }

    :deep(.infoButton) {
      order: -1;
      margin-right: 8px;
      vertical-align: middle !important;
    }
  }

  .mobileBorder {
    border-bottom: 1px $box_border solid;
    &:first-child {
      border-top: 1px $box_border solid;
    }
  }

  .mobileRootBorder {
    &:first-child {
      border-bottom: 1px $box_border solid;
      //padding-bottom: 10px
    }
  }

  .unitOption {
    grid-gap: 0px;
  }

  .optionPadding {
    // padding-top: 10px;
    // padding-bottom: 10px;
    &:last-child {
      
      border-bottom: 0;
    }
  }

  .hasGroup {
    font-weight: bold;
  }

  .groupMargin {
    margin-top: 10px;
  }
}
