@import "@/shared_components/css/vars.scss";

:deep(.unitOption .box) {
  margin-bottom: 0;
}

@media screen and (min-width: $mobile_mode) {
  .inputOption {
    display: flex;
    column-gap: 10px;
    input[type="checkbox"] {
      margin: 0;
    }
    align-items: center;
  }
}

.mobileMode {
  .inputOption {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    *:nth-child(1) {
      order: 4;
    }

    *:nth-child(2) {
      order: 2;
    }

    *:nth-child(3) {
      order: 1;
    }

    *:nth-child(4) {
      order: 3;
    }

    > *:first-child {
      margin-left: auto;
    }
  }

  .visibleUnitOption {

    display: grid;
    align-content: center;
  }

  .mobileBorder {
    border-bottom: 1px $box_border solid;
    &:first-child {
      border-top: 1px $box_border solid;
    }
  }

  .unitOption {
    grid-gap: 0px;
  }

  .optionPadding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hasGroup {
    font-weight: bold;
  }
}
